#content {
          margin-left: 50%px;
          margin-top: 140px}

#open-left-side-menu {position: fixed;
     height: 30px;
     width: 25px;
     border-radius: 2px;
     text-align: center;
     font-size: 25px;
     color: white;
     margin-top: -20px;
     margin-left: -5px;
     left:0;
     background-color: #444555;
     float: left}

#left-side-menu {position: fixed;
                 display: none;
                 height: 100%;
                 width: 240px;
                 top: 0;
                 left:0;
                 background-color: #444555;
                 float: left}

#header-plate {
                 position: fixed;
                 text-align: center;
                 color: white;
                 font-size: 25px;
                 font-family: sans-serif;
                 height: 100px;
                 width: 100%;
                 top: 0;
                 left: 0;
                 background-color: #313140;
                 float: left}

#left-side-menu--content {
                 position: fixed;
                 text-align: center;
                 color: white;

                 font-size: 25px;
                 font-family: sans-serif;
                 height: 1080px;
                 width: 240px;
                 margin-top: 130px;
                 left:0;
                 float: left}


#right-side-login-window {position: fixed;
                          color: white;
                          text-align: center;
                          font-family: sans-serif;
                          border: 1px;
                          width: 100px;
                          height: 40px;
                          border-radius: 5px;
                          margin-top: 25px;
                          margin-left: 90%;
                          background-color: #444555;}

#login-dropdown {position: inherit;
                 display: none;
                 color: white;
                 text-align: center;
                 font-family: sans-serif;
                 border: 1px;
                 margin-left: -110px;
                 margin-top: 50px;
                 height: 400px;
                 width:300px;
                 border-radius: 5px;
                 margin-right: 10px;
                 background-color: #444555;}

.left-side-menu--content--item {background-color: #444555;
                                font-size: 15px;
                                margin-top: 10px;
                                font-family: sans-serif;
                                padding: 5px;
                                height: 50px;}

.left-side-menu--content--item--on-over {background-color: #404151;
                                font-size: 14px;
                                font-family: sans-serif;
                                font-family: sans-serif;
                                padding: 5px;
                                height: 50px;}
.post {
    margin-left: 200px;
    width: 80%;
    border-radius: 5px;
    background-color: #505162;
}
.post-image {
    position: inherit;
    margin-left: 25%;
}

.post-header {
    text-align: center;
    padding: 7px;
    color: white;
}

.post-text {
    padding: 7px;
    width: 60%;
    margin-left: 100px;
    color: white;
}

.post-author {
    padding: 7px;
    color: white;
}

.post-date {
    float: right;
    margin-right: 7px;
    color: white;
}
body {
    background: #ebebeb;
  }
