#content {
          margin-left: 250px;
          margin-top: 70px}
#left-side-menu {position: fixed;
                 height: 100%;
                 width: 240px;
                 top: 0;
                 left:0;
                 background-color: #444555;
                 float: left}

#left-side-menu--site-name-block {
                 position: fixed;
                 text-align: center;
                 color: white;
                 font-size: 25px;
                 font-family: sans-serif;
                 height: 100px;
                 width: 240px;
                 top: 0;
                 left:0;
                 background-color: #313140;
                 float: left}

#left-side-menu--content {
                 position: fixed;
                 text-align: center;
                 color: white;

                 font-size: 25px;
                 font-family: sans-serif;
                 height: 1080px;
                 width: 240px;
                 margin-top: 110px;
                 left:0;
                 float: left}


#right-side-login-window {float: right;
                          color: white;
                          text-align: center;
                          font-family: sans-serif;
                          border: 1px;
                          width: 250px;
                          height: 50px;
                          border-radius: 5px;
                          margin-top: -60px;
                          margin-right: 10px;
                          background-color: #444555;}

.left-side-menu--content--item {background-color: #444555;
                                font-size: 15px;
                                margin-top: 10px;
                                font-family: sans-serif;
                                padding: 5px;
                                height: 50px;}

.left-side-menu--content--item--on-over {background-color: #404151;
                                font-size: 14px;
                                font-family: sans-serif;
                                font-family: sans-serif;
                                padding: 5px;
                                height: 50px;}
.post {
    margin-left: 65px;
    width: 90%;
    border-radius: 5px;
    background-color: #505162;
}
.post-image {
    position: inherit;
    margin-left: 11%
}

.post-header {
    text-align: center;
    padding: 7px;
    color: white;
}

.post-text {
    padding: 7px;
    color: white;
}

.post-author {
    padding: 7px;
    color: white;
}

.post-date {
    float: right;
    margin-right: 7px;
    color: white;
}
body {
    background: #ebebeb;
  }
